#icon {
	float: left;
}
header {
	border: 1px solid #000000;
	background-color: rgba(245,222,179,.6);
}
ul {
	list-style-type: none;
}
li {
	display: inline;
	float: left;
	border: 2px solid #000000;
}
li > a:link {
	text-decoration: none;
	width: 180px;
	background-color: rgba(245,222,179,.6);
	display: block;
	padding: 8px;
}
li > a:active {
}
li > a:hover {
	background-color: #c19a6b;
}
li > a:visited {
	color: #3b444b;
}
h4 {
	text-align: center;
}
p {
	font-family: monospace, sans-serif;
}
body {
	background-image: url("../images/homebg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#intro {
	background-color: rgba(245,222,179,.6);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
.redirect:link {
	color: #000000;
	text-decoration: none;
	width: 32.5%;
	border: 1px solid #000000;
	float: left;
	background-color: rgba(245,222,179,.6);
	margin-right: 5px;
	text-align: center;
	height: 300px;
}
.redirect:active {
}
.redirect:hover {
	background-color: #c19a6b;
	transform: translate(0px, 2px);
}
.redirect:visited {
	color: #000000;
}
#instructions {
	text-align: center;
}

