#icon {
	float: left;
}
header {
	border: 1px solid #000000;
	background-color: rgba(245,222,179,.6);
}
#nav {
	list-style-type: none;
}
.navunder {
	display: inline;
	float: left;
	border: 2px solid #000000;
}
.navunder > a:link {
	text-decoration: none;
	width: 180px;
	background-color: rgba(245,222,179,.6);
	display: block;
	padding: 8px;
}
hr {
	clear: both;
}
.navunder > a:active {
}
.navunder > a:hover {
	background-color: #c19a6b;
}
.navunder > a:visited {
	color: #3b444b;
}
h4 {
	text-align: center;
}
p {
	font-family: monospace, sans-serif;
}
body {
	background-image: url("../images/homebg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#intro {
	background-color: rgba(245,222,179,.5);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
.redirect:link {
	color: #000000;
	text-decoration: none;
	width: 32.5%;
	border: 1px solid #000000;
	float: left;
	background-color: rgba(245,222,179,.6);
	margin-right: 5px;
	text-align: center;
	height: 300px;
	margin-bottom: 10px;
}
.redirect:active {
}
.redirect:hover {
	background-color: #c19a6b;
	transform: translate(0px, 2px);
}
.redirect:visited {
	color: #000000;
}
#instructions {
	text-align: center;
}
#twt:link {
	position: absolute;
	top: 625px;
	left: 45%;;
	background: url('../images/sprite.png') no-repeat 0px 0px;
	width: 50px;
	height: 50px;
}
#twt:active {
	
}
#twt:hover {
	transform: translate(0px, 2px);
}
#yt:link {
	position: absolute;
	top: 625px;
	left: 50%;
	background: url('../images/sprite.png') no-repeat -50px 0px;
	width: 50px;
	height: 50px;
}
#yt:active {
	
}
#yt:hover {
	transform: translate(0px, 2px);
}