#icon {
	float: left;
}
header {
	border: 1px solid #000000;
	background-color: rgba(245,222,179,.6);
}
ul {
	list-style-type: none;
}
li {
	display: inline;
	float: left;
	border: 2px solid #000000;
}
li > a:link {
	text-decoration: none;
	width: 180px;
	background-color: rgba(245,222,179,.6);
	display: block;
	padding: 8px;
}
li > a:active {
}
li > a:hover {
	background-color: #c19a6b;
}
li > a:visited {
	color: #3b444b;
}
article {
	width: 32.5%;
	border: 1px solid #000000;
	float: left;
	background-color: rgba(245,222,179,.6);
	margin-right: 5px;
}
p {
	font-family: monospace, sans-serif;
}
body {
	background-image: url("../../../images/homebg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
article {
	background-color: rgba(245,222,179,.6);
	border: 1px solid #000000;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
article p {
	padding: 10px;
}
#twt:link {
	position: absolute;
	top: 700px;
	left: 48%;
	background: url('../../../images/sprite.png') no-repeat 0px 0px;
	width: 50px;
	height: 50px;
	clear: left;
}
#twt:active {
	
}
#twt:hover {
	transform: translate(0px, 2px);
}
#yt:link {
	position: absolute;
	top: 700px;
	left: 52%;
	background: url('../../../images/sprite.png') no-repeat -50px 0px;
	width: 50px;
	height: 50px;
	clear: left;
}
#yt:active {
	
}
#yt:hover {
	transform: translate(0px, 2px);
}